<%- include('include/header.ejs')%>


<body data-spy="scroll" data-target=".navbar">

    <%- include('include/nav.ejs') %>

    <%- include('subviews/hero.ejs') %>
    <div class="container-fluid pb-3 " >

        
        <%- include('subviews/job-experince.ejs') %>
        
        
        <%- include('subviews/proskills.ejs') %>
        <%- include('subviews/protofolio.ejs') %>
        
        <%- include('subviews/refrences.ejs') %>
        
        <%- include('subviews/contact.ejs') %>

        <%- include('subviews/basic-info.ejs') %>
     


    </div>
        <%- include('subviews/footer.ejs') %>
</body>

<%- include('include/footer.ejs')%>

</html>