<%- include('include/header.ejs')%>


<body data-spy="scroll" data-target=".navbar">

    <%- include('include/nav.ejs') %>

    <%- include('subviews/hero.ejs') %>

    <%- include('subviews/experince.ejs') %>

    <%- include('subviews/education.ejs') %>

    <%- include('subviews/proskills.ejs') %>

    <%- include('subviews/refrences.ejs') %>
    
    <%- include('subviews/protofolio.ejs') %>


    <%- include('subviews/contact.ejs') %>

    <%- include('subviews/footer.ejs') %>

    

    
</body>

<%- include('include/footer.ejs')%>

</html>
